<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forbidden</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" type="image/x-icon" href="/img/favicon/favicon.ico">
    <link href="/css/app.css" rel="stylesheet">
  </head>
  
  <div class="navbar bg-base-100 shadow-sm">
    <div class="navbar-start">
    <a href="https://myshare.haydar.dev"> <img class="" src="https://myshare.haydar.dev/img/myshare_white.png" style="height: 64px; width: 64px;"> </a>
    </div>
    <div class="navbar-end">
      <ul class="menu menu-horizontal px-1">
        <li><a onclick="location.href='/download.html';">Download</a></li>
        <li><a onclick="location.href='/credits.html';">Credits</a></li>
        <li><a onclick="location.href='/credits.html';">Pricing</a></li>
      </ul>
      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
          <div class="w-14 rounded-full">
            <img src="https://myshare.haydar.dev/img/default.png" />
          </div>
        </div>
        <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
          <li> <a href="https://myshare.haydar.dev/login.html" id="dd-login" class="justify-between">Login</a> </li>
          <li> <a id="dd-profile" class="justify-between">Profile</a> </li>
          <li><a id="dd-dashboard" href="https://myshare.haydar.dev/dashboard.html" >Dashboard</a></li>
          <li><a id="dd-logout" onClick="logout()" >Logout</a></li>
          <div class="divider m-0"></div>
          <input type="radio" name="theme-dropdown" class="theme-controller btn btn-sm btn-ghost justify-start" aria-label="Dark" value="default" />
          <input type="radio" name="theme-dropdown" class="theme-controller btn btn-sm btn-ghost justify-start" aria-label="Light" value="light" />
        </ul>
      </div>
    </div>
</div>

  <div class="hero bg-base-100 min-h-screen">
    <div class="hero-content flex-col lg:flex-row">
      <div>
        <h1 class="text-5xl font-bold text-center" style="font-size: 92px;">403</h1>
        <h1 class="text-2xl text-center">Access Forbidden</h1>
        <p class="py-6 text-center">
            You do not have permission or authorization to access this file or directory.
        </p>
        <br>
        <center> <a href="https://myshare.haydar.dev"><button class="btn btn-neutral px-10">Go Home</button> </a></center>
      </div>
    </div>
  </div>
</html>

<script>
function logout() {
  localStorage.removeItem("token");
  localStorage.removeItem("userId");
  window.location.href = "https://myshare.haydar.dev";
}
</script>